<div class="wave recipes"></div>

<div id="recipes">
    <div class="wrapper-600">
        <h2 class="section-title">Recommended Recipes</h2>
        <p class="section-moto"><%= Date.today.strftime("%A, %B %d, %Y") %></p>

    </div>
    <div class="wrapper-800">
        <div id="recipes-holder">
            <% @recipeMeals.each do |recipe| %>
                <div class="recipe">
                    <div class="recipe-image" style="background-image: url('https://spoonacular.com/recipeImages/<%= recipe['image'] %>')">
                    </div>
                    <div class="recipe-info">
                        <h3><%= recipe['title'] %></h3>
                        <p><span>Ready in:</span> <%= recipe['readyInMinutes'] %> minutes</p>
                    </div>
                </div>
            <% end %>
        </div>
        <div class="keys">
            <div class="key">
                <div class="color calories"></div>
                <p>Calories: <%= @recipeTotalCalories %>
            </div>
            <div class="key">
                <div class="color carbs"></div>
                <p>Carbs <%= @recipeTotalCarbs %> g</p>
            </div>
            <div class="key">
                <div class="color proteins"></div>
                <p>Proteins <%= @recipeTotalProteins %> g</p>
            </div>
            <div class="key">
                <div class="color fat"></div>
                <p>Fat <%= @recipeTotalFat %> g</p>
            </div>
        </div>
    </div>
</div>