<% content_for :banner do %>Recipes<% end %>

<style>
    body {
        background-color: #fafafa;
    }
</style>

<div class="recipe-wrapper">
    <%= render 'search' %>
    <div class="wrapper-wide">

        <ul class="recipe-holder">
            <% @recipe.each do |recipe| %>
                <%= link_to recipe do %>
                    <li class="recipe">
                        <div class="thumbnail-holder">
                            <div class="thumbnail"
                                style="background-image: url('<%= asset_path(<%= @recipe.image.url(:medium)%>')">
                                <div class="thumbnail-overlay"></div>
                            </div>
                        </div>

                        <div class="content">
                            <h3><%= recipe.title %></h3>

                            <p><%= truncate(recipe.description, :length => 50) %></p>
                        </div>

                        <div class="read-recipe">
                            <p>Read Recipe</p>
                        </div>
                    </li>
                <% end %>
            <% end %>
        <ul>
    </div>
</div>