<div id="dashboard">
    <div id="dashboard-nav">
        <div class="wrapper-600">
            <ul>
                <li>
                    <%= link_to "Meals", dashboard_path(:anchor => "meals"), class: "active" %>
                </li><li>
                    <%= link_to "Statistics", dashboard_path(:anchor => "statistics") %>
                </li><li>
                    <%= link_to "Trends", dashboard_path(:anchor => "trends") %>
                </li><li>
                    <%= link_to "Recipes", dashboard_path(:anchor => "recipes") %>
                </li><li>
                    <%= link_to "Goal", user_path(current_user) %>
                </li>
            </ul>
        </div>
    </div>
    <%= yield(:dashboard_page_body) %>
</div>